<div class="jumbotron text-center">
  <h1>Welcome to Gargeon AdminPanel!</h1>
  <br>
  <p class="lead">GarGeon Inc. is the recycling innovative solution company that creates an App to automate the recyclables picking up process
    in Southeast Asia countries. We introduce the future recyclables picking up concept by turning the traditional cash payment
    into reward points system. Simple steps taken to request a pick up (Snap Photo. Leave&Go. Get Rewards). We introduce
    the points redemption platform as well that GarGeon points users are able to redeem variety of merchandises on the platform.
    </p>
  <div>
    <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>News</h3>
    <p>
      <img class="img-responsive" src="https://assets.bharian.com.my/images/articles/03hackd.transformed.jpg">
      <b>Hackathon Forest City iktiraf anak muda</b>
      ISKANDAR PUTERI: Country Garden Pacificview Sdn Bhd (CGPV) menganjurkan Dialog Keusahawanan Belia dan Hackathon Forest City
      sempena sambutan Hari Habitat Sedunia 2017, sebagai usaha menyumbang kepada pembangunan belia…
    </p>
  </div>

  <div class="col-md-4">
    <h3>Mission</h3>
    <p>
      <iframe class="img-responsive" src="https://www.youtube.com/embed/P2-kymRc3i0" frameborder="0" allowfullscreen></iframe>
      Our bussiness produce more recycling innovative solution to tackle the environmental issues. Say no to more to Landfill!
      Save the Environment!! Let's protect the Environment together!!</p>
  </div>
  <div class="col-md-4">
    <h3>Award</h3>
    <p>Believe it or not.. our company are The CHAMPION UTM Mobile App Hackaton 2017</p>
  </div>
</div>
